body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ffe6e6;
    font-family: Arial, sans-serif;
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 10px;
}